.container {
    position: relative;
    text-align: center;
    color: white;
    margin: auto;
  }

  
/* - - - -  id  - - - - - */
#imgBB {
    max-width: 80%;
}


/* - - -  Media Queries  - - - */
@media only screen and (max-width: 980px) {   /* PC: 110 - 125% zoom en Chrome */
}

@media only screen and (max-width: 768px) {   /* Aplica a mi celular horizontal y ipad vertical. PC: 150% zoom en Chrome  */
}

@media only screen and (max-width: 640px) {   /* Aplica a mi celular vertical. PC: 125% - 500% zoom en Chrome  */
    #imgBB {
        max-width: 95%;
    }
}
